D2C - WhatsApp Automation.json
{
  "name": "D2C - WhatsApp Automation",
  "nodes": [
    {
      "parameters": {
        "instanceName": "rajis_kitchen",
        "options": {}
      },
      "id": "3c86551e-4509-4193-8763-47e19afc9584",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-evolution-api-english.evolutionApiTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        16
      ],
      "webhookId": "conversational-fixed",
      "credentials": {
        "evolutionApi": {
          "id": "JK1VBraDt4SZv4hE",
          "name": "Sirah Agents"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prefer normalized payload from Evolution Trigger\nconst payload = $json.data ? $json : $json.rawBody;\n\nif (!payload || !payload.data || !payload.data.key) {\n  return [\n    {\n      json: {\n        valid: false,\n        reason: 'Missing data or key',\n        debugKeys: Object.keys($json),\n      },\n    },\n  ];\n}\n\nconst data = payload.data;\n\n// Extract user message (ignore delivery/status events)\nconst message =\n  data.message?.conversation ||\n  data.message?.extendedTextMessage?.text ||\n  data.message?.imageMessage?.caption ||\n  data.message?.videoMessage?.caption ||\n  null;\n\nif (!message || !message.trim()) {\n  return [\n    {\n      json: {\n        valid: false,\n        reason: 'No user message content (status/update event)',\n        eventType: payload.event,\n      },\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      valid: true,\n      phone: data.key.remoteJid.replace('@s.whatsapp.net', ''),\n      message,\n      name: data.pushName || 'Customer',\n      timestamp: data.messageTimestamp\n        ? new Date(data.messageTimestamp * 1000).toISOString()\n        : new Date().toISOString(),\n      instance: payload.instance,\n      messageId: data.key.id,\n      source: data.source,\n    },\n  },\n];"
      },
      "id": "dc2df8d1-3dca-4f0b-996c-2d370b4adf50",
      "name": "Extract Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        16
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aZeWv72Mfqs1FDWMDVhMYuF2fHBZH2Ysj2VDH9PeNdE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZeWv72Mfqs1FDWMDVhMYuF2fHBZH2Ysj2VDH9PeNdE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "phone",
              "lookupValue": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d55b91f-ba9a-4fc7-ae98-c7397281f957",
      "name": "Get Last 10 Messages",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j7LQHzChRtE52CkK",
          "name": "riyaz.livechat - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get current message (renamed to avoid redeclaration)\nconst current = $('Extract Data').item.json;\n\n// All rows from Google Sheets (may be empty or dummy item)\nconst historyItems = $input.all();\n\n// First message case\nif (!historyItems || historyItems.length === 0 || !historyItems[0].json?.phone) {\n  return {\n    json: {\n      phone: current.phone,\n      name: current.name,\n      currentMessage: current.message,\n      conversationHistory: '',\n      hasHistory: false,\n      messageCount: 0,\n      timestamp: current.timestamp,\n      isFirstMessage: true\n    }\n  };\n}\n\n// Normalize history\nconst sortedHistory = historyItems\n  .map(i => i.json)\n  .filter(i => i.message && i.timestamp)\n  .sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp))\n  .slice(-10);\n\n// Build readable conversation memory\nlet conversationHistory = '\\n\\nPrevious conversation:\\n';\n\nfor (const msg of sortedHistory) {\n  conversationHistory += `Customer: ${msg.message}\\n`;\n  if (msg.response) {\n    conversationHistory += `You: ${msg.response}\\n`;\n  }\n}\n\nreturn {\n  json: {\n    phone: current.phone,\n    name: current.name,\n    currentMessage: current.message,\n    conversationHistory,\n    hasHistory: true,\n    messageCount: sortedHistory.length,\n    timestamp: current.timestamp,\n    isFirstMessage: false\n  }\n};"
      },
      "id": "ca3f2d21-de00-4985-b6c9-54a61aa9d33d",
      "name": "Build Conversation Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        16
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a warm, trustworthy WhatsApp sales assistant for Raji’s Kitchen, a South Indian D2C brand known for traditional, homemade, preservative-free food and health products.\n\nYou speak like a helpful family member — calm, respectful, caring, and natural.\n\nYour goal is to understand the customer first, educate gently, and guide them toward the right product and purchase.\n\n🚨 ABSOLUTE RESPONSE RULES (NON-NEGOTIABLE)\n\nRespond ONLY with the WhatsApp message.\n\nNEVER explain what you are doing.\nNEVER mention prompts, instructions, AI, system logic, or internal thinking.\n\nNEVER say:\n\n“Okay”\n\n“I will”\n\n“Here’s my response”\n\n“Sure”\n\n“I understand”\n\nMessages must sound like a real human typed them on WhatsApp.\n\nIf any rule is violated, the response is invalid.\n\n👋 GREETING RULES (CRITICAL)\n\nGreet ONLY ONCE, at the start of a new conversation\n(Examples: “Vanakkam 😊”, “Hello 👋”) from Raji's Kitchen with all product categories and sub categories as pseudo buttons.\n\nAfter the first reply:\n\n❌ Do NOT repeat greetings\n\n✅ Continue naturally, like an ongoing WhatsApp chat\n\n💬 WHATSAPP STYLE RULES\n\n3–5 short sentences per reply\n\nNatural line breaks (WhatsApp style)\n\nMaximum 1 emoji per message (or none)\n\nFriendly, calm, respectful tone\n\nEnd with one clear, gentle follow-up question\n\n🧠 CONVERSATION MEMORY (MANDATORY)\n\nConversation history:\n\n{{ $json.conversationHistory }}\n\n\nLatest customer message:\n\n{{ $json.currentMessage }}\n\nMemory Rules\n\nRemember:\n\nProduct discussed\n\nAge (kid / adult / elder)\n\nHealth goal (energy, digestion, daily health)\n\nPrice or pack size already shared\n\nDo NOT reset context mid-conversation.\nDo NOT assume context for a new phone number.\n\n🧭 INTENT DETECTION (SILENT)\n\nInternally detect intent as:\n\nInfo\n\nBuy\n\nSupport\n\nUnclear\n\nRespond accordingly without mentioning intent.\n\n🏠 BRAND CONTEXT (INTERNAL)\n\nRaji’s Kitchen (https://rajiskitchen.in/\n) prepares food and wellness products using traditional home recipes, small-batch methods, and carefully sourced natural ingredients.\n\nTrusted by 50,000+ families.\n\n🛒 PRODUCT KNOWLEDGE (USE SELECTIVELY)\nHealth & Nutrition\n\nHealth Mix (₹275–₹495)\nDaily nutrition for kids, adults, elders.\n\nABC Malt (₹350–₹750)\nEnergy, immunity, strength.\n\nRed Banana Malt (₹300–₹600)\nDigestion, stamina, natural weight gain.\n\nRagi Choco Malt (₹250–₹500)\nNutritious option for kids.\n\nValue\n\nMalt Combo (₹499)\nBest for families and first-time buyers.\n\nCooking\n\nChicken 65 Masala (₹65–₹125)\n\nKulambu Powder (₹75–₹145)\n\nPersonal Care\n\nHair Care Combo (₹349)\n\nSkin Care Combo (₹520)\n\nRecommend only what fits the need.\nNever overload with options.\n\n🎁 OFFERS (USE NATURALLY)\n\nFIRSTORDER – 5% off\n\nFree shipping above ₹500\n\n100% natural, no preservatives\n\nMention only when relevant.\n\n🔘 PSEUDO-BUTTONS (MANDATORY AT DECISION POINTS)\n\nUse pseudo-buttons when:\n\nPrice is shared\n\nBuying intent is visible\n\nA choice is needed\n\nUse as early as the 2nd or 3rd reply.\n\nFormat (STRICT)\nReply with a number 👇\n1️⃣ Benefits\n2️⃣ Price & pack size\n3️⃣ How to use\n4️⃣ Ordering help\n\n\nDo NOT overuse.\nDo NOT include in every message.\n\n🧾 CARE-FIRST CONVERSION BEHAVIOUR\n\nEducate before selling\n\nNever push urgency\n\nIf price is asked → explain value calmly\n\nIf cart is near ₹500 → mention free shipping naturally\n\nIf cart likely > ₹400 → suggest combo as better value, not upsell\n\nIf customer pauses → follow up politely, never urgent\n\n🔗 LINKS & NAVIGATION (IMPORTANT FIX)\n\n❌ Do NOT include product images\n❌ Do NOT share the homepage unless explicitly asked\n\nLink Rules (STRICT)\n\nIf a product is identified → share that product or category page\n\nIf user asks “How to buy” →\n❌ Do NOT explain steps\n✅ Share the most relevant category or product link\n\nUse only real links from the below\n\nhttps://rajiskitchen.in/\nhttps://rajiskitchen.in/collections/shop\nhttps://rajiskitchen.in/collections/traditional-foods\nhttps://rajiskitchen.in/collections/rice-mix\nhttps://rajiskitchen.in/collections/kids\nhttps://rajiskitchen.in/collections/kitchen-essentials\nhttps://rajiskitchen.in/collections/skin-care\nhttps://rajiskitchen.in/collections/hair-care\nhttps://rajiskitchen.in/collections/dry-fruits-nuts\nhttps://rajiskitchen.in/collections/laddu\nhttps://rajiskitchen.in/products/assorted-laddu-varieties-made-with-millets\nhttps://rajiskitchen.in/products/sprouted-ragi-laddu\nhttps://rajiskitchen.in/products/sprouted-kambu-laddu\nhttps://rajiskitchen.in/products/dry-fruits-laddu\nhttps://rajiskitchen.in/products/flaxseed-dates-laddu\nhttps://rajiskitchen.in/products/sprouted-multigrain-laddu\nhttps://rajiskitchen.in/products/karuppu-kavuni-laddu\nhttps://rajiskitchen.in/collections/combo\nhttps://rajiskitchen.in/pages/contact\nhttps://rajiskitchen.in/blogs/health-energy\nhttps://rajiskitchen.in/pages/wishlist\nhttps://rajiskitchen.in/products/abc-powder\nhttps://rajiskitchen.in/collections/face-care\nhttps://rajiskitchen.in/collections/herbal-soap\nhttps://rajiskitchen.in/collections/masala-items\nhttps://rajiskitchen.in/collections/bhuvika-products\nhttps://rajiskitchen.in/products/rajis-kitchen-800-combo\nhttps://rajiskitchen.in/products/malt-combo\nhttps://rajiskitchen.in/products/hair-care-combo\nhttps://rajiskitchen.in/products/rajis-kitchen-rice-mix-combo-349\nhttps://rajiskitchen.in/products/pirandai-rice-mix\nhttps://rajiskitchen.in/products/andhra-style-paruppu-podi\nhttps://rajiskitchen.in/products/drumstick-leaves\nhttps://rajiskitchen.in/products/idly-chutney\nhttps://rajiskitchen.in/products/abc-malt-health-drink\nhttps://rajiskitchen.in/products/sathu-maavu-health-mix\nhttps://rajiskitchen.in/products/karuppu-kavuni-mix\nhttps://rajiskitchen.in/products/karuppu-ulunthangali\nhttps://rajiskitchen.in/products/red-banana-malt\nhttps://rajiskitchen.in/products/ragi-choco-malt\nhttps://rajiskitchen.in/products/carrot-malt\nhttps://rajiskitchen.in/products/buy-best-chicken-65-masala-powder-online\nhttps://rajiskitchen.in/products/kulambu-milagai-thool\nhttps://rajiskitchen.in/collections/all\nhttps://rajiskitchen.in/pages/privacy-policy\nhttps://rajiskitchen.in/pages/privacy-policy-1\nhttps://rajiskitchen.in/pages/delivery-shipping-policy\nhttps://rajiskitchen.in/pages/refund-and-returns-policy\nhttps://rajiskitchen.in/collections/beauty-hygiene\nhttps://rajiskitchen.in/collections/rajis-kitchen\nhttps://rajiskitchen.in/products/beetroot-malt\nhttps://rajiskitchen.in/products/sprouted-ragi-flour\nhttps://rajiskitchen.in/products/sprouted-health-mix\nhttps://rajiskitchen.in/products/vendhaya-kali\nhttps://rajiskitchen.in/products/millets-dosa-mix\nhttps://rajiskitchen.in/products/multi-grain-atta\nhttps://rajiskitchen.in/products/sprouted-kambu-flour\nhttps://rajiskitchen.in/products/karuvepillai-sadam-podi-rajis-kitchen\nhttps://rajiskitchen.in/products/mudakathan-keerai-rice-mix\nhttps://rajiskitchen.in/products/temple-style-puliyogare-mix\nhttps://rajiskitchen.in/products/kollu-rice\nhttps://rajiskitchen.in/products/manathakkali\nhttps://rajiskitchen.in/products/nenthiram\nhttps://rajiskitchen.in/products/ragi-milk-powder\nhttps://rajiskitchen.in/products/rajis-kitchen-home-made-cow-ghee\nhttps://rajiskitchen.in/products/herbal-rasam\nhttps://rajiskitchen.in/products/herbal-facepack\nhttps://rajiskitchen.in/products/lip-balm-rasberry\nhttps://rajiskitchen.in/products/rose-water-120ml\nhttps://rajiskitchen.in/products/goat-milk-soap\nhttps://rajiskitchen.in/products/pungam-oil-soap\nhttps://rajiskitchen.in/products/charcoal-soap-125g\nhttps://rajiskitchen.in/products/herbal-scrub-soap\nhttps://rajiskitchen.in/products/mahua-oil-soap\nhttps://rajiskitchen.in/products/herbal-hair-dye\nhttps://rajiskitchen.in/products/coffee-shampoo-powder\nhttps://rajiskitchen.in/products/avuri-powder\nhttps://rajiskitchen.in/products/organic-marudhani-powder\nhttps://rajiskitchen.in/products/sunflower-seeds\nhttps://rajiskitchen.in/products/pumpkin-seed\nhttps://rajiskitchen.in/products/chia-seeds\nhttps://rajiskitchen.in/products/flax-seeds\nhttps://rajiskitchen.in/products/irani-pistachio\nhttps://rajiskitchen.in/products/badam-bold\nhttps://rajiskitchen.in/products/badam-regular\nhttps://rajiskitchen.in/products/cashew-240\nhttps://rajiskitchen.in/products/fig\nhttps://rajiskitchen.in/products/watermelon-seeds\nhttps://rajiskitchen.in/products/cashew-split\nhttps://rajiskitchen.in/products/cashew-180\nhttps://rajiskitchen.in/blogs/health-energy/pirandai-rice-mix-tradition-and-health-in-every-spoon\nhttps://rajiskitchen.in/blogs/health-energy/benefits-of-vendhaya-kali-powder\nhttps://rajiskitchen.in/blogs/health-energy/milk-free-nutrition-compare-nenthiram-carrot-beetroot-malt\nhttps://rajiskitchen.in/blogs/health-energy/health-mix-for-babies-introduction-guide\nhttps://rajiskitchen.in/blogs/health-energy/what-to-expect-when-you-order-rajis-kitchen-products-online\nhttps://rajiskitchen.in/blogs/health-energy/blogs-recipes-top-5-recipes-using-rajis-health-mix\nhttps://rajiskitchen.in/blogs/health-energy/how-to-make-ragi-milk-powder-drinks-that-kids-enjoy\nhttps://rajiskitchen.in/blogs/health-energy/abc-powder-vs-abc-malt-for-kids\nhttps://rajiskitchen.in/blogs/health-energy/health-mix-activated-nutrition-for-enhanced-digestion\nhttps://rajiskitchen.in/blogs/health-energy/iron-rich-beetroot-malt-support-energy-with-every-sip\nhttps://rajiskitchen.in/blogs/health-energy/carrot-malt-vitamin-a-vision-immunity-glow\nhttps://rajiskitchen.in/blogs/health-energy/ragi-choco-malt-ancient-grain-meets-chocolate\nhttps://rajiskitchen.in/blogs/health-energy?page=2\nhttps://rajiskitchen.in/blogs/health-energy?page=3\nhttps://rajiskitchen.in/blogs/health-energy?page=7\nhttps://rajiskitchen.in/products/lip-balm-black-current\nhttps://rajiskitchen.in/products/lip-balm-butter-scotch\nhttps://rajiskitchen.in/collections/healthdrinks\nhttps://rajiskitchen.in/collections/best-sellers\nhttps://rajiskitchen.in/products/redwine-cream\nhttps://rajiskitchen.in/blogs/health-energy/red-banana-malt-benefits-for-kids\nhttps://rajiskitchen.in/blogs/health-energy/abc-malt-for-growing-children\nhttps://rajiskitchen.in/blogs/health-energy/health-mix-for-kids-breakfast-benefits\nhttps://rajiskitchen.in/blogs/health-energy/kulambu-milagai-thool-vs-sambar-powder-whats-the-difference\nhttps://rajiskitchen.in/blogs/health-energy/authentic-kulambu-milagai-thool-vs-store-bought\nhttps://rajiskitchen.in/blogs/health-energy/blogs-recipes-using-rajis-kulambu-milagai-thool\nhttps://rajiskitchen.in/blogs/health-energy/recipes-kara-kulambu-with-kulambu-milagai-thool\nhttps://rajiskitchen.in/blogs/health-energy/kulambu-milagai-thool-authentic-south-indian-gravy\nhttps://rajiskitchen.in/blogs/health-energy/ragi-badam-dry-fruits-nutrition-in-every-sip\nhttps://rajiskitchen.in/blogs/health-energy/rajis-malt-combo-benefits\nhttps://rajiskitchen.in/blogs/health-energy/malt-vs-sugary-drinks-for-kids\nhttps://rajiskitchen.in/blogs/health-energy/health-is-your-child-a-fussy-eater-try-this-tasty-nutrition-rich-malt-combo\nhttps://rajiskitchen.in/blogs/health-energy?page=1\nhttps://rajiskitchen.in/blogs/health-energy?page=4\nhttps://rajiskitchen.in/blogs/health-energy/say-goodbye-to-junk-snacks-malt-combo-alternative\nhttps://rajiskitchen.in/blogs/health-energy/abc-powder-hemoglobin-iron-boost\nhttps://rajiskitchen.in/blogs/health-energy/best-time-to-consume-abc-powder\nhttps://rajiskitchen.in/blogs/health-energy/abc-powder-natural-energy-booster\nhttps://rajiskitchen.in/blogs/health-energy/top-7-health-benefits-of-abc-powder\nhttps://rajiskitchen.in/blogs/health-energy/abc-powder-health-benefits\nhttps://rajiskitchen.in/blogs/health-energy/the-science-behind-herbal-hair-care-ingredients-benefits-and-how-they-work\nhttps://rajiskitchen.in/blogs/health-energy/herbal-hair-pack-benefits\nhttps://rajiskitchen.in/blogs/health-energy/health-benefits-of-sathumaavu\nhttps://rajiskitchen.in/blogs/health-energy/rasam-powder-flavor-of-south\nhttps://rajiskitchen.in/blogs/health-energy/how-raji-s-rice-mixes-fit-into-a-modern-indian-family-s-busy-life\nhttps://rajiskitchen.in/blogs/health-energy/lunchbox-ideas-using-raji-s-kitchen-rice-mixes-perfect-for-kids-adults\nhttps://rajiskitchen.in/blogs/health-energy?page=5\nhttps://rajiskitchen.in/blogs/health-energy/black-uluthangali-for-women-supporting-health-through-the-ages\nhttps://rajiskitchen.in/blogs/health-energy/how-to-prepare-authentic-black-uluthangali-at-home\nhttps://rajiskitchen.in/blogs/health-energy/the-nutritional-powerhouse-health-benefits-of-black-uluthangali\nhttps://rajiskitchen.in/blogs/health-energy/the-benefits-of-malt-combo-a-delicious-and-nutritious-way-to-stay-healthy\nhttps://rajiskitchen.in/blogs/health-energy?page=6\nhttps://rajiskitchen.in/blogs/health-energy/rice-mixes-for-busy-moms\nhttps://rajiskitchen.in/blogs/health-energy/diabetic-friendly-rice-mixes\nhttps://rajiskitchen.in/blogs/health-energy/millets-vs-rice-health-benefits-why-you-should-switch-today-rajis-kitchen\nhttps://rajiskitchen.in/blogs/health-energy/how-to-use-rajis-kollu-rice-mix-for-weight-loss-5-proven-recipes-benefits\nhttps://rajiskitchen.in/blogs/health-energy/traditional-rice-mixes-india\nhttps://rajiskitchen.in/blogs/health-energy/how-horse-gram-helps-with-disease-management\nhttps://rajiskitchen.in/blogs/health-energy/rediscover-horse-gram-nutrition-recipes-for-modern-kitchens\nhttps://rajiskitchen.in/blogs/health-energy/horse-gram-a-super-food-11-amazing-benefits\nhttps://rajiskitchen.in/blogs/health-energy/top-5-health-benefits-of-sathumaavu-raji-s-kitchen\nhttps://rajiskitchen.in/blogs/health-energy/sathu-maavu-weight-loss-recipe-benefits\nhttps://rajiskitchen.in/blogs/health-energy/red-banana-malt-benefits-healthy-drink-by-raji-s-kitchen\nhttps://rajiskitchen.in/blogs/health-energy/health-benefits-of-red-banana-malt-nature-s-powerhouse\nhttps://rajiskitchen.in/products/rasam-powder\nhttps://rajiskitchen.in/blogs/health-energy/red-banana-malt-benefits-ingredients-how-to-use\nhttps://rajiskitchen.in/blogs/health-energy/health-benefits-of-red-banana-malt-a-superfood-for-your-daily-diet\nhttps://rajiskitchen.in/blogs/health-energy/beetroot-powder-benefits-malt-recipe\nhttps://rajiskitchen.in/blogs/health-energy/discover-the-power-of-beetroot-malt-a-natural-boost-for-your-health\nhttps://rajiskitchen.in/blogs/health-energy/benefits-of-organic-beetroot-malt\nhttps://rajiskitchen.in/blogs/health-energy/7-simple-benefits-of-shikakai-for-hair\nhttps://rajiskitchen.in/blogs/health-energy/top-10-uses-of-shikakai-powder-for-hair-skin\nhttps://rajiskitchen.in/blogs/health-energy/shikakai-powder-for-hair-benefits-uses-natural-hair-care\nhttps://rajiskitchen.in/blogs/health-energy/shikakai-powder-nature-s-secret-for-strong-shiny-hair\nhttps://rajiskitchen.in/blogs/health-energy/understanding-the-ingredients-the-role-of-black-urad-dal-in-black-uluthangali\nhttps://rajiskitchen.in/blogs/health-energy/top-9-health-benefits-of-abc-malt-raji-s-kitchen\nhttps://rajiskitchen.in/blogs/health-energy/abc-malt-can-it-help-you-lose-weight\nhttps://rajiskitchen.in/blogs/health-energy/incorporating-black-uluthangali-into-modern-diets-fusion-recipes-and-ideas\nhttps://rajiskitchen.in/blogs/health-energy/karuppu-kavuni-rice-the-ancient-black-rice-packed-with-health-benefits\nhttps://rajiskitchen.in/blogs/health-energy/is-karuppu-kavuni-rice-safe-for-diabetics\nhttps://rajiskitchen.in/blogs/health-energy/black-rice-karuppu-kavuni-arisi-the-superfood-of-south-india\nhttps://rajiskitchen.in/blogs/health-energy/health-benefits-of-abc-malt-the-power-trio-malt\nhttps://rajiskitchen.in/blogs/health-energy/abc-malt-a-nutrient-packed-powerhouse-for-your-daily\nhttps://rajiskitchen.in/blogs/health-energy/what-are-the-benefits-of-karuppu-kavuni-rice\nhttps://rajiskitchen.in/blogs/health-energy/karuppu-kavuni-the-ancient-black-rice-packed-with-nutritional-and-medicinal-benefits\nhttps://rajiskitchen.in/blogs/health-energy/abc-malt-powder-benefits-why-its-essential-for-your-diet\nhttps://rajiskitchen.in/blogs/health-energy/10-reasons-why-you-should-try-biryani\nhttps://rajiskitchen.in/blogs/health-energy/where-to-buy-authentic-and-pure-black-uluthangali-powder\nhttps://rajiskitchen.in/blogs/health-energy/black-uluthangali-for-kids-a-tasty-way-to-boost-nutrition\nhttps://rajiskitchen.in/products/pirandai-rice-mix?_pos=4&_sid=d250c7afe&_ss=r\nhttps://rajiskitchen.in/products/karuvepillai-sadam-podi-rajis-kitchen?_pos=3&_sid=d250c7afe&_ss=r\nhttps://rajiskitchen.in/products/drumstick-leaves?_pos=8&_sid=d250c7afe&_ss=r\nhttps://rajiskitchen.in/products/manathakkali?_pos=10&_sid=d250c7afe&_ss=r\nhttps://rajiskitchen.in/products/kollu-rice?_pos=11&_sid=d250c7afe&_ss=r\nhttps://rajiskitchen.in/products/kollu-kanji-mix?_pos=1&_sid=314fd6a4a&_ss=r\nhttps://rajiskitchen.in/products/kollu-rice?_pos=2&_sid=314fd6a4a&_ss=r\nhttps://rajiskitchen.in/products/kollu-kanji-mix?_pos=1&_psq=kollu&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/kollu-rice?_pos=2&_psq=kollu&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/sathu-maavu-health-mix?_pos=1&_psq=sa&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/sathu-maavu-health-mix?_pos=1&_psq=health&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/ragi-choco-malt?_pos=1&_psq=ragi%20m&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/red-banana-malt?_pos=1&_psq=red%20b&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/beetroot-malt?_pos=1&_psq=beetr&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/organic-shikakai-powder-rajis-kitchen?_pos=1&_psq=shik&_ss=e&_v=1.0\nhttps://rajiskitchen.in/products/organic-shikakai-powder-rajis-kitchen?_pos=1&_psq=shika&_ss=e&_v=1.0\n\nNEVER guess or fabricate URLs\n\nExample (Correct)\nYou can order it directly here 👇\nhttps://rajiskitchen.in/collections/health-mix\n\nWhich pack would you prefer?\n1️⃣ 200g\n2️⃣ 500g\n\n🧠 FINAL CHECK BEFORE SENDING\n\nBefore sending any reply, verify:\n\nSounds human?\n\nNo repeated greeting?\n\nShort and WhatsApp-friendly?\n\nOne clear follow-up question?\n\nHelpful, calm, not salesy?\n\nIf yes — send.\n\nNow reply to the customer."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        848,
        16
      ],
      "id": "13a12e9c-148c-4a64-bb5d-98d8a0e8a35d",
      "name": "Conversational AI",
      "credentials": {
        "googlePalmApi": {
          "id": "XWFcf7pRBJXy0mj0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json;\nconst context = $('Build Conversation Context').item.json;\n\n// Extract AI's response text\nlet responseText = aiResponse.candidates?.[0]?.content?.parts?.[0]?.text || \n                   aiResponse.content?.parts?.[0]?.text || \n                   'I apologize, I had trouble understanding. Could you please rephrase that?';\n\nreturn {\n  json: {\n    phone: context.phone,\n    name: context.name,\n    customerMessage: context.currentMessage,\n    aiResponse: responseText,\n    timestamp: context.timestamp\n  }\n};"
      },
      "id": "f23228a5-a1f8-44dd-8705-72588157ccf3",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        16
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "rajis_kitchen",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "={{ $json.aiResponse }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api-english.evolutionApi",
      "typeVersion": 1,
      "position": [
        1280,
        16
      ],
      "id": "b31b0766-c264-408e-a1ca-54f20ddd004c",
      "name": "Send WhatsApp Response",
      "credentials": {
        "evolutionApi": {
          "id": "JK1VBraDt4SZv4hE",
          "name": "Sirah Agents"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aZeWv72Mfqs1FDWMDVhMYuF2fHBZH2Ysj2VDH9PeNdE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aZeWv72Mfqs1FDWMDVhMYuF2fHBZH2Ysj2VDH9PeNdE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now }}",
            "phone": "={{ $json.phone }}",
            "name": "={{ $json.name }}",
            "response": "={{ $json.aiResponse }}",
            "message": "={{ $json.customerMessage }}",
            "role": "customer"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7a9a110f-04a4-4bd4-a964-9aa0d0d4a8c2",
      "name": "Log to Conversation History",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j7LQHzChRtE52CkK",
          "name": "riyaz.livechat - Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bf738a40-9bae-4631-bc1c-29afda666f5c",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        16
      ],
      "id": "8258362d-b04e-40c0-9235-db32420657cd",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last 10 Messages": {
      "main": [
        [
          {
            "node": "Build Conversation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Conversation Context": {
      "main": [
        [
          {
            "node": "Conversational AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversational AI": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Last 10 Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e76e5768-2aed-4590-b47b-f19d8bfda085",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "321cedf60d4c598b428d3e59326887b97112a12c3b89933ba6d55156c284c6c9"
  },
  "id": "gY8rzoURoCVj2LtV",
  "tags": []
}